<div class="row">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="header">
        <a href="#" class="navbar-brand logo"> {{ title }} </a>
      </div>
    </div>
  </nav>
</div>